.main-container{
    display: flex;
    justify-content: center;
    padding: 7em
}

.add-container{
    width: fit-content;
    height: fit-content;
    background: #717398 0% 0% no-repeat padding-box;
    border-radius: 2em;
}

.add{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.add input, button{
    text-align: center;
    margin: 1em 0;
    font-size: 1.7em;
}

.add input, button:focus{
    outline: none;
}

.title{
    height: 2em;
    width: 30vw;
    border-radius: 1em;
}

.add button {
    background: #6ca5c4;
    border: 1px solid #6790ff;
}
