.main-container{
    display: flex;
    flex-direction: column;
    padding: 5em 10em;
}

.meme{
    display: flex;
    background: #777676 0% 0% no-repeat padding-box;
    padding: 2em;
    margin: 1em 0 3em 0;
}

.meme > a{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-right: 2em;
    width: 50%;
}

.meme img{
    height: auto;
    width: 100%;
}

.info{
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2em;
}

.info h1{
    font-size: 2.5em;
    margin: 0.5em 0;
}

.description, .social-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.description h2{
    margin: 0.5em 0;
}

.social-section > a{
    color: black;
}


