body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    height: 100vh;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.log-in{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: #686868 0% 0% no-repeat padding-box;
    margin: 2vh 0 1vh 0;
    padding: 0.5em 2em;
    border-radius: 2em;
}

.log-in p{
    color: #a70000;
    letter-spacing: 1px;
    margin: 0.5em 0 0 0;
}

.log-in input, button{
    margin: 1em;
}

.log-in input{
    background: #888888 0% 0% no-repeat padding-box;
    margin: 1em;
    padding: 1em;
    border-radius: 0.8em;
    line-height: 1em;
    width: 25vw;
}

.log-in input::placeholder {
    color: white;
    opacity: 0.5;
}

.log-in input:focus{
    border-color: rgb(80, 131, 219);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.log-in button{
    align-self: center;
    width: 10vw;
    height: 2.7em;
    border-radius: 0.8em;
    background: transparent linear-gradient(180deg, #6C7AF4 0%, #433BB7 100%) 0% 0% no-repeat padding-box;
    color: white;
}

.log-in>button:focus {
    border-color: rgb(80, 175, 219);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.switch{
    background: transparent;
    border: none;
    color: white;
    margin: 0.5em;
    line-height: 2.5em;
    outline: none;
    box-shadow: none;
    text-decoration: none;
}

.switch:hover{
    color: rgb(27, 74, 152);
}
