body {
    margin: 0;
    overflow-y: hidden;
}

.container {
    width: 100vw;
    height: 100vh;
    background: #000000 0% 0% no-repeat padding-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container.logo {
    width: 60%;
    text-align: center;
    margin: 2em;
}

form.log-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35vw;
    background: #363636 0% 0% no-repeat padding-box;
    padding: 2vh 0 2vh 0;
    border: none;
    border-radius: 56px;
}

.log-in>button{
    background: transparent linear-gradient(180deg, #4A67F9 0%, #25347D 100%) 0% 0% no-repeat padding-box;
    border-radius: 27px;
    width: 50%;
    border: none;
    color: white;
    margin: 1em;
    line-height: 2.5em;
}

.log-in>button:focus {
    border-color: rgb(15, 29, 221);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.log-in input {
    background: #888888 0% 0% no-repeat padding-box;
    margin: 1em;
    padding: 1em;
    border-radius: 9px;
    line-height: 1em;
    width: 70%;
}

.log-in input::placeholder {
    color: white;
    opacity: 0.5;
}

.log-in input:focus {
    outline: none;
    box-shadow: none;
}

.switch{
    background: transparent;
    border-radius: 27px;
    border: none;
    color: white;
    margin: 0.5em;
    line-height: 2.5em;
    outline: none;
    box-shadow: none;
}

.switch:hover{
    color: red;
}

.no-valid {
    border: 3px solid red;
    border-radius: 1em;
    box-shadow: 0 0 0.2em red;
    outline: none;
}

@media only screen and (max-device-width: 420px) {
    * {
        font-size: 36px;
    }

    .login-container {
        width: 100%;
    }

    form.log-in {
        width: 60%;
        margin: auto;
    }

    input{
        line-height: 0.1em;
    }
}

.base-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 7vh;
    width: 100%;
    background: #000000 0% 0% no-repeat padding-box;
}

header .logo {
    display: flex;
    align-items: center;
    margin-left: 1vw;
    height: 70%;
}

header .logo>img {
    height: 70%;
}

.search-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1em;
    width: 70%;
    height: 100%;
}

.search-bar>form {
    display: flex;
    align-items: center;

}

.search-bar>form>input, .search-bar>input{
    width: 20vw;
    height: 3em;
    padding-left: 0.7em;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    outline: none;
    border: none;
    border-radius: 18px;
    box-sizing: border-box;
}

.logout, .login {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    right: 0;
    margin-right: 2vw;
    padding: 0 2vw 0 0;
    background: #4A67F9 0% 0% no-repeat padding-box;
    text-align: center;
    color: #ffffff;
    outline: none;
    box-shadow: none;
}

.logout div, .login div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2vw;
    height: 100%;
    width: 2em;
    background: #263CA8 0% 0% no-repeat padding-box;
}

.fa-user{
    color: #00000073;
}

nav {
    display: flex;
    align-items: center;
    background: #2C2C2C 0% 0% no-repeat padding-box;
    border: none;
    height: 3vh;
    width: 100%;
}

a {
    text-decoration: none;
    display: inline-block;
}

nav>form{
    display: flex;
    align-items: center;
}

nav button{
    padding: 0.5em;
    font: normal normal normal 15px/19px Bookman Old Style;
    background-color: transparent;
    border: none;
    color: white;
}

nav button:focus {
    outline: none;
    box-shadow: none;
}

nav button:hover{
    color: rgb(230, 57, 57);
}

main {
    background: #4A4A4A 0% 0% no-repeat padding-box;
    width: 100%;
}

@media only screen and (max-device-width: 420px) {
    header .logo {
        width: 30%;
    }

    .search-bar {
        width: 30%;
    }

    .search-bar>form {
        width: 100%;
    }

    .search-bar>form>input, .search-bar>input{
        width: 10em;
        height: 2em;
    }

    a div{
        width: 1em;
    }

    a div>i{
        font-size: 0.5em;
    }

}



