body{
    width: 100vw;
    height: 100vh;
    margin: 0;

    overflow: hidden;
    display: flex;
    flex-direction: row;
}

nav{
    height: 100%;
    width: 15vw;
    background: black;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

nav > img{
    margin: 2em auto;
    width: 80%;
}

a{
    text-decoration: none;
    display: inline-block;
    line-height: 2em;
}

li{
    margin: 1em;
}

li i{
    font-size: 1.5em;
}

ul {
    width: calc(100% - 40px);
    height: 100%;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    color: white;
}

.button{
    border: 2px solid white;
    border-radius: 1em;
    margin-left: 1em;
    text-align: center;
    letter-spacing: 0.7px;
    color: white;
    padding: 0.2em;
    width: 60%;
}

nav > .fa, .fas {
    font-weight: 900;
    width: 1em;
}

main{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 85vw;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    background: #8d9ba0;
    border-bottom: black 1px solid;
}

.login{
    background: transparent linear-gradient(180deg, #7080FA 0%, #4036B2 100%) 0% 0% no-repeat padding-box;
    border-radius: 1.5em;
    color: white;
    letter-spacing: 0.1em;
    line-height: normal;
    text-align: center;
    width: 10%;
    padding: 0.5em;
}

.search-bar{
    width: 50%;
}

.search-bar>form>input{
    background: white 0% 0% no-repeat padding-box;
    border-radius: 2em;
    width: 100%;
    height: 2.5em;
    text-align: center;
    color: gray;
    margin: 0;
    box-sizing: border-box;

}

.main-container{
    height: 95vh;
    background: #585858;
}

.fa-thumbs-up {
    color: #039D2C;
    font-size: 1.5em;
}

.fa-thumbs-down {
    color: red;
    font-size: 1.5em;
}

.fa-thumbs-up:hover, .fa-thumbs-down{
    cursor: pointer;
}

.fa-thumbs-up>span, .fa-thumbs-down>span{
    color: black;
}

.fa-thumbs-up>span:hover, .fa-thumbs-down>span:hover{
    cursor: default;
}