.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.find{
    display: flex;
    justify-content: center;
    margin: 5em;
}

.find>form>input{
    height: 2em;
    width: 20vw;
    padding: 0;
    border-radius: 0;
    line-height: 1.5em;
    background-color: transparent;
    color: white;
    font-size: 1em;
    border: none;
    outline: none;
    border-bottom: 3px solid #333333;
    font-family: Roboto Slab, sans-serif;
}