.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.find{
    display: flex;
    justify-content: center;
    margin: 5em;
}

.find>form>input{
    height: 2em;
    width: 20vw;
    padding: 0;
    border-radius: 0;
    line-height: 1.5em;
    background-color: transparent;
    color: white;
    font-size: 1em;
    border: none;
    outline: none;
    border-bottom: 3px solid #333333;
    font-family: Roboto Slab, sans-serif;
}

.users{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
}

.user{
    display: flex;
    flex-direction: row;
    background: #777676 0% 0% no-repeat padding-box;
    padding: 1em;
}

.info{
    margin: 0 0 0 1em;
}

.info h1{
    font-size: 2em;
    margin: 0.5em 0;
}

