<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/home.css') }}">
    <script src="https://kit.fontawesome.com/50659eceb1.js" crossorigin="anonymous"></script>

    <title>
        {% block title %}
            HOME
        {% endblock %}
    </title>
    {% block stylesheets %}
        {#{{ encore_entry_link_tags('app') }}#}
    {% endblock %}

    {% block javascripts %}
        {#{{ encore_entry_script_tags('app') }}#}
    {% endblock %}
</head>
<body>
<nav>
    <img src="{{ asset('img/logo.svg') }}">
    <ul>
        <li>
            <i class="fas fa-home"></i>
            <a href="#" class="button">Home</a>
        </li>
        <li>
            <i class="fas fa-trophy"></i>
            <a href="#" class="button">TOP10</a>
        </li>
        <li>
            <i class="fas fa-user"></i>
            <a href="#" class="button">Users</a>
        </li>
        <li>
            <i class="fas fa-plus-circle"></i>
            <a href="#" class="button">Add</a>
        </li>
    </ul>
</nav>
<main>
    <header>
        <div class="search-bar">
            <form>
                <input placeholder="Search">
            </form>
        </div>
        <div class="login">
            Login
        </div>
    </header>
    <div class="sort">
        <div id="Day">Day</div>
        <div id="Week">Week</div>
        <div id="Month">Month</div>
        <div id="All time">All time</div>
    </div>
    <section class="memes">
        <div>meme 1</div>
        <div>meme 2</div>
        <div>meme 3</div>
        <div>meme 4</div>
    </section>
</main>
</body>